In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df1 = pd.read_csv('company.csv')
df2 = pd.read_csv('company_data.csv')
df1.head()

      证券代码    日期
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [7]:
df2.head()

   证券代码          日期  收入类型           收入额
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [16]:
df2['日期2'] = df2['日期'].apply(lambda x: int(x[0:4]))
df2.head()

   证券代码          日期  收入类型           收入额   日期2
0     1  2008/12/31     1  1.084218e+10  2008
1     1  2008/12/31     2  1.259789e+10  2008
2     1  2008/12/31     3  1.451312e+10  2008
3     1  2008/12/31     4  1.063843e+09  2008
4     1  2008/12/31     5  8.513880e+08  2008

In [38]:
df1['证券代码2'] = df1['证券代码'].apply(lambda x: int(x[1::]))
df1['entropy'] = 0
df1.head()

      证券代码    日期  证券代码2  entropy
0  #000007  2014      7        0
1  #000403  2015    403        0
2  #000408  2016    408        0
3  #000408  2017    408        0
4  #000426  2015    426        0

In [39]:
for ind in df1.index:
    s_code = df1.loc[ind, '证券代码2']
    date = df1.loc[ind, '日期']
    tmp = df2[(df2['证券代码']==s_code)&(df2['日期2']==date)]
    a = tmp['收入额'].values
    a = a[a>0]
    if len(a) == 0:
        df1.loc[ind,'entropy'] = 0
        continue
    tot = a.sum()
    for b in a:
        df1.loc[ind,'entropy'] = df1.loc[ind,'entropy'] - b / tot * np.log( b / tot )

In [40]:
df1.head()

      证券代码    日期  证券代码2   entropy
0  #000007  2014      7  3.070462
1  #000403  2015    403  2.790585
2  #000408  2016    408  2.818541
3  #000408  2017    408  0.000000
4  #000426  2015    426  3.084266